@charset "utf-8";
/* 链接 */
a {
	color:#ff5000;
}

/* 输入框点击后发光边框 */
.input_default_focus {
	outline-width: 0px;
	outline-style: none;
	outline-color: invert;
	border: 1px solid #ffb65f;
	-webkit-box-shadow: 0 0 5px #fec875;
	box-shadow: 0 0 6px #fec875;
}