@charset "utf-8";
/* 载入 */
.showloading {
	margin-left: 0px;
	padding: 10px 10px 10px 38px !important;
	background: url(images/loading.gif) no-repeat scroll 8px 6px #fff;
	border: 1px solid #D6D6D6;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 91000;
}